:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: #fffd98;
}

h1 {
	background-color: #3ddc97;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem;
}

.dealer-side {
	background-color: #399e5a;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-side {
	background-color: #26532b;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 3rem;
	justify-content: center;
	display: flex;
	align-items: center;
}
img {
	height: 8rem;
}

.buttons {
	background-color: #0f4413;
	display: flex;
	justify-content: center;
	padding: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.hit,
.stand,
.reset {
	width: 6rem;
	height: 3rem;
	margin: 1rem;
}

li {
	list-style: none;
}

.dealer-result-message,
.player-result-message {
	margin: 2rem;
	font-style: italic;
	font-size: 30px;
}

.player-text,
.dealer-text {
	font-size: 30px;
}
